
.section-showcase {
    margin-bottom:1rem  0;
    height: 520px;
    background-image: url("/public/images/brides.png");
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
  }
  
  .section-showcase .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color:#FAF9F6;
    
  }
  .section-showcase h1 {
    font-size: 4rem;
    color: #000000;
    
    
  }
  
  .section-showcase p {
    margin: 1rem 0;
  }
  
  .btn {
    display: inline-block;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a.btn{
    background-color:#0b4747;
  }
  a.btn:hover {
    background-color:#ffcc00;
    color: #000000;
  }

  
  
  @media (max-width: 768px) {
    .section-showcase .container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .section-showcase .container div:first-child {
      order: 2;
    }
  
    .section-showcase .container div:nth-child(2) {
      order: -1;
    }
  
    .section-showcase h1 {
      font-size: 6rem;
    }
  
    .section-showcase img {
      width: 80%;
      margin: auto;
    }
  }