/* Hero.css */
.section-showcase {
  margin-bottom: 1rem 0;
  height: 1000px;
  background-image: url("/images/brides.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.section-showcase .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #FAF9F6;

}

.section-showcase h1 {
  font-size: 4rem;
  color: #000000;


}

.section-showcase p {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  display: inline-block;
  color: #fff; 
  background-color: #0b4747; 
  padding: 1rem 2rem; 
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 50px; 
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.btn:hover {
  background-color: #ffcc00;
  color: #000000;
}


@media (min-width: 320px) and (max-width: 480px) {
  .section-showcase h1 {
    font-size: 2rem;
    color: #000000;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #FAF9F6;

  }

  .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


}