
body {
  margin: 1;
  font-family: Arial, sans-serif;
}

.section-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('/images/brides.png') no-repeat center center/cover; 
  color: rgb(247, 243, 243);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.section-showcase::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  max-width: 70%; 
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.centered {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-style: italic;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.4rem; 
  background-color: #f4f1f1;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #d1f384;
}


@media (max-width: 768px) {
  h1 {
      font-size: 2.5rem;
  }

  .centered {
      font-size: 1.2rem;
  }

  .btn {
      font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 2rem;
  }

  .centered {
      font-size: 1rem;
      margin-bottom: 20px; 
  }

  .btn {
      font-size: 1rem;
      padding: 12px 24px; 
  }
}
