
.event-list-container {
  width: 100%; 
  max-width: 400px; 
  margin: 0 auto;
}

.event-table-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px; 
  margin-bottom: 100px; 
}

.event-table-container h3 {
  margin-bottom: 2px; 
}

.event-table td {
  padding: px; 
}

.edit-button, .delete-button, .save-button {
  padding: 1px 10px; 
  font-size: 17px; 
}
