
.contact_us {
    padding: 50px 0;
}

.contain {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form-container {
    flex: 1;
    margin-right: 20px;
}

.contact-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-headline {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.contact-form-input,
.contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.full-width {
    width: 100%;
}

.submit-btn,
.reset-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
}

.submit-btn:hover,
.reset-btn:hover {
    background-color: #0056b3;
}

.contacts {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contacts ul {
    list-style: none;
    padding: 0;
}

.highlight-text-grey {
    color: #888;
}

.highlight-contact-info {
    color: #333;
}

.highlight-text {
    font-weight: bold;
}


.contact-textarea {
    height: 450px; 
}
