.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b4747;
  padding: 10px 40px;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 80px;
  z-index: 1000;
}

.navbar-logo {
  font-size: 24px;
  
 
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.nav-item a svg {
  width: 20px;
  height: 20px;
}


.nav-item a span {
  color: #ffcc00;
}

.navbar-icons {
  display: flex;
}

.navbar-icons .nav-item {
  margin-left: 20px;
}


body {
  padding-top: 80px;
}
