
/* Footer styles */
.footer {
    background-color:#0b4747;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-text {
    margin-top: 20px;
    text-align: center;
  }
  